In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("data_final.csv")

In [3]:
data.columns

Index(['index', 'country', 'conf', 'deth', 'recv', 'ts', 'days', 'code',
       'continent', 'sub_region', 'pop'],
      dtype='object')

In [4]:
data.country.nunique()

155

In [5]:
min(data.ts)

'2020-01-22'

In [6]:
max(data.ts)

'2020-03-19'

In [7]:
data["days"].describe()

count    3160.000000
mean       17.447785
std        14.487306
min         1.000000
25%         6.000000
50%        13.000000
75%        25.000000
max        58.000000
Name: days, dtype: float64

In [8]:
data[data["days"] > 100]

Empty DataFrame
Columns: [index, country, conf, deth, recv, ts, days, code, continent, sub_region, pop]
Index: []

In [9]:
data[data.country == "Australia"].count()

index         54
country       54
conf          54
deth          54
recv          54
ts            54
days          54
code          54
continent     54
sub_region    54
pop           54
dtype: int64

In [10]:
data[data.country == "Australia"]["days"].describe()

count    54.000000
mean     27.500000
std      15.732133
min       1.000000
25%      14.250000
50%      27.500000
75%      40.750000
max      54.000000
Name: days, dtype: float64

In [11]:
data.describe()

,index,conf,deth,recv,days,pop
count,3160.000000,3160.000000,3160.000000,3160.000000,3160.000000,3.033000e+03
mean,1579.500000,1355.598734,45.357278,508.287975,17.447785,9.057255e+07
std,912.357751,8670.755789,319.161582,4903.158373,14.487306,2.543061e+08
min,0.000000,1.000000,0.000000,0.000000,1.000000,3.378500e+04
25%,789.750000,2.000000,0.000000,0.000000,6.000000,5.518050e+06
50%,1579.500000,12.000000,0.000000,0.000000,13.000000,1.947394e+07
75%,2369.250000,59.000000,0.000000,4.000000,25.000000,6.648899e+07
max,3159.000000,81156.000000,3405.000000,70535.000000,58.000000,1.392730e+09