In [1]:
import os
import wget
import pandas as pd
import numpy as np

output_file = "data_to_plot.csv"

In [2]:
url = "https://data.humdata.org/hxlproxy/data/download/time_series-ncov-Confirmed.csv?dest=data_edit&filter01=explode&explode-header-att01=date&explode-value-att01=value&filter02=rename&rename-oldtag02=%23affected%2Bdate&rename-newtag02=%23date&rename-header02=Date&filter03=rename&rename-oldtag03=%23affected%2Bvalue&rename-newtag03=%23affected%2Binfected%2Bvalue%2Bnum&rename-header03=Value&filter04=clean&clean-date-tags04=%23date&filter05=sort&sort-tags05=%23date&sort-reverse05=on&filter06=sort&sort-tags06=%23country%2Bname%2C%23adm1%2Bname&tagger-match-all=on&tagger-default-tag=%23affected%2Blabel&tagger-01-header=province%2Fstate&tagger-01-tag=%23adm1%2Bname&tagger-02-header=country%2Fregion&tagger-02-tag=%23country%2Bname&tagger-03-header=lat&tagger-03-tag=%23geo%2Blat&tagger-04-header=long&tagger-04-tag=%23geo%2Blon&header-row=1&url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_19-covid-Confirmed.csv"
data_confirmed = wget.download(url)

In [3]:
url = "https://data.humdata.org/hxlproxy/data/download/time_series-ncov-Deaths.csv?dest=data_edit&filter01=explode&explode-header-att01=date&explode-value-att01=value&filter02=rename&rename-oldtag02=%23affected%2Bdate&rename-newtag02=%23date&rename-header02=Date&filter03=rename&rename-oldtag03=%23affected%2Bvalue&rename-newtag03=%23affected%2Bkilled%2Bvalue%2Bnum&rename-header03=Value&filter04=clean&clean-date-tags04=%23date&filter05=sort&sort-tags05=%23date&sort-reverse05=on&filter06=sort&sort-tags06=%23country%2Bname%2C%23adm1%2Bname&tagger-match-all=on&tagger-default-tag=%23affected%2Blabel&tagger-01-header=province%2Fstate&tagger-01-tag=%23adm1%2Bname&tagger-02-header=country%2Fregion&tagger-02-tag=%23country%2Bname&tagger-03-header=lat&tagger-03-tag=%23geo%2Blat&tagger-04-header=long&tagger-04-tag=%23geo%2Blon&header-row=1&url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_19-covid-Deaths.csv"
data_deaths = wget.download(url)

In [4]:
url = "https://data.humdata.org/hxlproxy/data/download/time_series-ncov-Recovered.csv?dest=data_edit&filter01=explode&explode-header-att01=date&explode-value-att01=value&filter02=rename&rename-oldtag02=%23affected%2Bdate&rename-newtag02=%23date&rename-header02=Date&filter03=rename&rename-oldtag03=%23affected%2Bvalue&rename-newtag03=%23affected%2Brecovered%2Bvalue%2Bnum&rename-header03=Value&filter04=clean&clean-date-tags04=%23date&filter05=sort&sort-tags05=%23date&sort-reverse05=on&filter06=sort&sort-tags06=%23country%2Bname%2C%23adm1%2Bname&tagger-match-all=on&tagger-default-tag=%23affected%2Blabel&tagger-01-header=province%2Fstate&tagger-01-tag=%23adm1%2Bname&tagger-02-header=country%2Fregion&tagger-02-tag=%23country%2Bname&tagger-03-header=lat&tagger-03-tag=%23geo%2Blat&tagger-04-header=long&tagger-04-tag=%23geo%2Blon&header-row=1&url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_19-covid-Recovered.csv"
data_recovered = wget.download(url)

In [5]:
pd_conf = pd.read_csv(data_confirmed)
pd_deth = pd.read_csv(data_deaths)
pd_recv = pd.read_csv(data_recovered)

In [6]:
os.remove(data_confirmed)

In [7]:
os.remove(data_deaths)

In [8]:
os.remove(data_recovered)

In [9]:
pd_conf.drop(pd_conf.index[0], inplace = True)

In [10]:
pd_deth.drop(pd_deth.index[0], inplace = True)

In [11]:
pd_recv.drop(pd_recv.index[0], inplace = True)

In [12]:
pd_conf.rename(columns = {"Province/State": "state",
                          "Country/Region": "country",
                          "Lat": "lat",
                          "Long": "long",
                          "Date": "date",
                          "Value": "confirmed"}, inplace = True)

In [13]:
pd_deth.rename(columns = {"Province/State": "state",
                          "Country/Region": "country",
                          "Lat": "lat",
                          "Long": "long",
                          "Date": "date",
                          "Value": "deaths"}, inplace = True)

In [14]:
pd_recv.rename(columns = {"Province/State": "state",
                          "Country/Region": "country",
                          "Lat": "lat",
                          "Long": "long",
                          "Date": "date",
                          "Value": "recovered"}, inplace = True)

In [15]:
print(pd_conf.shape)
print(pd_deth.shape)
print(pd_recv.shape)

(27144, 6)
(27144, 6)
(27144, 6)

In [16]:
pd_conf["conf"] = pd_conf.apply(lambda row: int(row.confirmed), axis = 1)

In [17]:
pd_deth["deth"] = pd_deth.apply(lambda row: int(row.deaths), axis = 1)

In [18]:
pd_recv["recv"] = pd_recv.apply(lambda row: int(row.recovered), axis = 1)

In [19]:
pd_conf.drop(inplace = True, columns = ["lat", "long"])
pd_deth.drop(inplace = True, columns = ["lat", "long"])
pd_recv.drop(inplace = True, columns = ["lat", "long"])

In [20]:
pd_conf.pivot_table(values = "confirmed", index = ["country", "date"], aggfunc = np.sum).reset_index()

          country        date confirmed
0     Afghanistan  2020-01-22         0
1     Afghanistan  2020-01-23         0
2     Afghanistan  2020-01-24         0
3     Afghanistan  2020-01-25         0
4     Afghanistan  2020-01-26         0
...           ...         ...       ...
8985       Zambia  2020-03-15         0
8986       Zambia  2020-03-16         0
8987       Zambia  2020-03-17         0
8988       Zambia  2020-03-18         2
8989       Zambia  2020-03-19         2

[8990 rows x 3 columns]

In [21]:
pd_conf1 = pd_conf.pivot_table(values = "conf", index = ["country", "date"], aggfunc = np.sum).reset_index()

In [22]:
pd_deth1 = pd_deth.pivot_table(values = "deth", index = ["country", "date"], aggfunc = np.sum).reset_index()

In [23]:
pd_recv1 = pd_recv.pivot_table(values = "recv", index = ["country", "date"], aggfunc = np.sum).reset_index()

In [24]:
pd_conf1.head()

       country        date  conf
0  Afghanistan  2020-01-22     0
1  Afghanistan  2020-01-23     0
2  Afghanistan  2020-01-24     0
3  Afghanistan  2020-01-25     0
4  Afghanistan  2020-01-26     0

In [25]:
print(pd_conf1.shape)
print(pd_deth1.shape)
print(pd_recv1.shape)

(8990, 3)
(8990, 3)
(8990, 3)

In [26]:
pd_tmp1 = pd.merge(pd_conf1, pd_deth1, how = "inner", left_on = ["country", "date"], 
                   right_on = ["country", "date"])
pd_total = pd.merge(pd_tmp1, pd_recv1, how = "inner", left_on = ["country", "date"], 
                   right_on = ["country", "date"])

In [27]:
print(pd_total.shape)

(8990, 5)

In [28]:
from datetime import datetime
pd_total["ts"] = pd_total.apply(lambda row: datetime.strptime(row.date, "%Y-%m-%d"), axis = 1)

In [29]:
print(min(pd_total["ts"]))
print(max(pd_total["ts"]))

2020-01-22 00:00:00
2020-03-19 00:00:00

In [30]:
pd_total.head()

       country        date  conf  deth  recv         ts
0  Afghanistan  2020-01-22     0     0     0 2020-01-22
1  Afghanistan  2020-01-23     0     0     0 2020-01-23
2  Afghanistan  2020-01-24     0     0     0 2020-01-24
3  Afghanistan  2020-01-25     0     0     0 2020-01-25
4  Afghanistan  2020-01-26     0     0     0 2020-01-26

In [31]:
filter_obj = (pd_total.conf == 0) & (pd_total.deth == 0) & (pd_total.recv == 0)

In [32]:
def filter_out_healthy_days(confirmed, deaths, recovered):
    if confirmed == 0 and deaths == 0 and recovered == 0:
        return 0
    else:
        return 1

In [33]:
pd_total["valid"] = pd_total.apply(lambda row: filter_out_healthy_days(row.conf, row.deth, row.recv), axis = 1)

In [34]:
pd_valid = pd_total[pd_total.valid == 1].copy()

In [35]:
pd_valid.shape

(3160, 7)

In [36]:
pd_valid["country"].nunique()

155

In [37]:
print(min(pd_valid["ts"]))
print(max(pd_valid["ts"]))

2020-01-22 00:00:00
2020-03-19 00:00:00

In [38]:
count_df = pd_valid.groupby("country").count().reset_index()

In [39]:
cnt_df = count_df[["country", "ts"]].copy()
cnt_df.rename(inplace = True, columns = {"ts": "cnt"})

In [40]:
cnt_df.head()

               country  cnt
0          Afghanistan   25
1              Albania   11
2              Algeria   24
3              Andorra   18
4  Antigua and Barbuda    7

In [41]:
cnt_df["cnt"].describe()

count    155.000000
mean      20.387097
std       16.648929
min        1.000000
25%        7.000000
50%       16.000000
75%       24.000000
max       58.000000
Name: cnt, dtype: float64

In [42]:
pd_valid1 = pd.merge(pd_valid, cnt_df, how = "left", on = "country")

In [43]:
pd_valid1.head()

       country        date  conf  deth  recv         ts  valid  cnt
0  Afghanistan  2020-02-24     1     0     0 2020-02-24      1   25
1  Afghanistan  2020-02-25     1     0     0 2020-02-25      1   25
2  Afghanistan  2020-02-26     1     0     0 2020-02-26      1   25
3  Afghanistan  2020-02-27     1     0     0 2020-02-27      1   25
4  Afghanistan  2020-02-28     1     0     0 2020-02-28      1   25

In [44]:
pd_valid1["cnt"].describe()

count    3160.00000
mean       33.89557
std        18.50886
min         1.00000
25%        18.00000
50%        25.00000
75%        53.00000
max        58.00000
Name: cnt, dtype: float64

In [45]:
pd_valid1[pd_valid1.cnt > 59]

Empty DataFrame
Columns: [country, date, conf, deth, recv, ts, valid, cnt]
Index: []

In [46]:
pd_valid1["rank"] = pd_valid1.groupby("country")["ts"].rank(ascending = True)

In [47]:
pd_valid1.head()

       country        date  conf  deth  recv         ts  valid  cnt  rank
0  Afghanistan  2020-02-24     1     0     0 2020-02-24      1   25   1.0
1  Afghanistan  2020-02-25     1     0     0 2020-02-25      1   25   2.0
2  Afghanistan  2020-02-26     1     0     0 2020-02-26      1   25   3.0
3  Afghanistan  2020-02-27     1     0     0 2020-02-27      1   25   4.0
4  Afghanistan  2020-02-28     1     0     0 2020-02-28      1   25   5.0

In [48]:
pd_valid1["rank"].describe()

count    3160.000000
mean       17.447785
std        14.487306
min         1.000000
25%         6.000000
50%        13.000000
75%        25.000000
max        58.000000
Name: rank, dtype: float64

In [49]:
pd_valid1.head()

       country        date  conf  deth  recv         ts  valid  cnt  rank
0  Afghanistan  2020-02-24     1     0     0 2020-02-24      1   25   1.0
1  Afghanistan  2020-02-25     1     0     0 2020-02-25      1   25   2.0
2  Afghanistan  2020-02-26     1     0     0 2020-02-26      1   25   3.0
3  Afghanistan  2020-02-27     1     0     0 2020-02-27      1   25   4.0
4  Afghanistan  2020-02-28     1     0     0 2020-02-28      1   25   5.0

In [50]:
pd_valid1.groupby("country")[["cnt", "rank"]].max()

                     cnt  rank
country
Afghanistan           25  25.0
Albania               11  11.0
Algeria               24  24.0
Andorra               18  18.0
Antigua and Barbuda    7   7.0
...                  ...   ...
Uruguay                6   6.0
Uzbekistan             5   5.0
Venezuela              6   6.0
Vietnam               57  57.0
Zambia                 2   2.0

[155 rows x 2 columns]

In [51]:
pd_valid1.drop(columns = ["date", "valid", "cnt"], inplace = True)

In [52]:
pd_valid1.head(n = 10)

       country  conf  deth  recv         ts  rank
0  Afghanistan     1     0     0 2020-02-24   1.0
1  Afghanistan     1     0     0 2020-02-25   2.0
2  Afghanistan     1     0     0 2020-02-26   3.0
3  Afghanistan     1     0     0 2020-02-27   4.0
4  Afghanistan     1     0     0 2020-02-28   5.0
5  Afghanistan     1     0     0 2020-02-29   6.0
6  Afghanistan     1     0     0 2020-03-01   7.0
7  Afghanistan     1     0     0 2020-03-02   8.0
8  Afghanistan     1     0     0 2020-03-03   9.0
9  Afghanistan     1     0     0 2020-03-04  10.0

In [53]:
pd_valid1["days"] = pd_valid1["rank"].astype(int)

In [54]:
pd_valid1.describe()

               conf         deth          recv         rank         days
count   3160.000000  3160.000000   3160.000000  3160.000000  3160.000000
mean    1355.598734    45.357278    508.287975    17.447785    17.447785
std     8670.755789   319.161582   4903.158373    14.487306    14.487306
min        1.000000     0.000000      0.000000     1.000000     1.000000
25%        2.000000     0.000000      0.000000     6.000000     6.000000
50%       12.000000     0.000000      0.000000    13.000000    13.000000
75%       59.000000     0.000000      4.000000    25.000000    25.000000
max    81156.000000  3405.000000  70535.000000    58.000000    58.000000

In [55]:
pd_valid1.drop(inplace = True, columns = "rank")

In [56]:
pd_valid1.dtypes

country            object
conf                int64
deth                int64
recv                int64
ts         datetime64[ns]
days                int64
dtype: object

In [57]:
pd_valid1.head()

       country  conf  deth  recv         ts  days
0  Afghanistan     1     0     0 2020-02-24     1
1  Afghanistan     1     0     0 2020-02-25     2
2  Afghanistan     1     0     0 2020-02-26     3
3  Afghanistan     1     0     0 2020-02-27     4
4  Afghanistan     1     0     0 2020-02-28     5

In [58]:
pd_export = pd_valid1.reset_index()

In [59]:
pd_export.describe()

             index          conf         deth          recv         days
count  3160.000000   3160.000000  3160.000000   3160.000000  3160.000000
mean   1579.500000   1355.598734    45.357278    508.287975    17.447785
std     912.357751   8670.755789   319.161582   4903.158373    14.487306
min       0.000000      1.000000     0.000000      0.000000     1.000000
25%     789.750000      2.000000     0.000000      0.000000     6.000000
50%    1579.500000     12.000000     0.000000      0.000000    13.000000
75%    2369.250000     59.000000     0.000000      4.000000    25.000000
max    3159.000000  81156.000000  3405.000000  70535.000000    58.000000

In [60]:
pd_export.dtypes

index               int64
country            object
conf                int64
deth                int64
recv                int64
ts         datetime64[ns]
days                int64
dtype: object

In [61]:
if os.path.exists(output_file):
    os.remove(output_file)
else:
    pass

In [62]:
pd_export.to_csv(output_file, index = False)