In [1]:
import pandas as pd
import numpy as np

In [2]:
%%bash
conda install xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 4.8.2
  latest version: 4.8.3

Please update conda by running

    $ conda update -n base -c defaults conda

In [3]:
base_data = pd.read_excel("data_to_plot.xlsx")

In [4]:
base_data = base_data[(base_data["location"] != "World") & (base_data["location"] != "International")]

In [5]:
extended_data = pd.read_csv("countryContinent.csv")

In [6]:
base_data.head()

   rank  total_cases     location         ts
0     1            1  Afghanistan 2020-02-25
1     2            1  Afghanistan 2020-02-26
2     3            1  Afghanistan 2020-02-27
3     4            1  Afghanistan 2020-02-28
4     5            1  Afghanistan 2020-02-29

In [7]:
extended_data.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,�land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0

In [8]:
extended_data.drop(columns = ["code_2", "code_3", "country_code", "iso_3166_2", "region_code", "sub_region_code"],
                   inplace = True)

In [9]:
extended_data.head()

          country continent       sub_region
0     Afghanistan      Asia    Southern Asia
1   �land Islands    Europe  Northern Europe
2         Albania    Europe  Southern Europe
3         Algeria    Africa  Northern Africa
4  American Samoa   Oceania        Polynesia

In [10]:
full_data_1 = pd.merge(base_data, extended_data, how = "left", left_on = "location", right_on = "country")

In [11]:
full_data_1.columns

Index(['rank', 'total_cases', 'location', 'ts', 'country', 'continent',
       'sub_region'],
      dtype='object')

In [12]:
full_data_1[full_data_1.country.isna()]

Empty DataFrame
Columns: [rank, total_cases, location, ts, country, continent, sub_region]
Index: []

In [13]:
full_data_1[full_data_1.country.isna()]["location"].unique()

array([], dtype=object)